<!DOCTYPE html>
<html lang="en">

<head>
  <title>Engadget Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Engadget Scraper</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/saved">Saved Articles</a>
          </li>
          <li>
            <button type="button" class="btn btn-primary navbar-btn" id="scrape">Scrape New Articles</button>
          </li>
        </ul>
      </div>
  </nav>
  <div class="main-body">
    {{{ body }}}
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>